.xfact-code-embed {
    position: relative;
    overflow: hidden;
    padding-top: var(--xfact-spacing-section);
    padding-bottom: var(--xfact-spacing-section);
    background-color: var(--xfact-bg) !important;
}

@media (min-width: 1024px) {
    .xfact-code-embed {
        padding-top: var(--xfact-spacing-section-lg);
        padding-bottom: var(--xfact-spacing-section-lg);
    }
}

.xfact-code-embed__inner {
    position: relative;
    width: 100%;
}

[data-theme="dark"] .xfact-code-embed__inner * {
    filter: invert();
}
