includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 6
    paths:
        - wp-content/themes/xfact
        - wp-content/mu-plugins
    excludePaths:
        analyseAndScan:
            - vendor
            - node_modules (?)
    ignoreErrors: []
    # Uncomment to use a baseline for legacy code:
    # baseline: phpstan-baseline.neon
